{% extends "::base.html.twig" %}

{% block title %}Initiative Big Data Orange{% endblock %}

{% block body %}
   <div>
    <iframe id='iframe2' src="http://localhost:8080/om/" frameborder="0" style="overflow: hidden; height: 100%;
        width: 96%; position: absolute;" height="100%" width="80%"></iframe>
</div>
{% endblock %}


